.icon_wrapper {
    width: 24px;
    min-width: 24px;
    height: auto;
    background: transparent;
}
.lang_wrapper {
    gap: 12px;
    align-items: center;
}
.dropdown_container {
    cursor: pointer;
    position: relative;
    padding: 12px 0;
}
.dropdown_container:hover .drop_block {
    //transition: all 0.3s;
    opacity: 1;
    z-index: 3;
    height: auto;
    padding: 12px;
    width: 320px;
}
.arrow_wrapper {
    transition: all 0.3s;
}
.dropdown_container:hover .arrow_wrapper {
    transform: rotate(180deg);
}
.lang_container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 100%;
    flex-direction: column;
    width: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #35374b;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 12px 20px rgb(0 0 0 / 40%);
    border-radius: 12px;
    align-items: flex-start;
    z-index: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.dropdown_content_item {
    display: flex;
    border: none;
    align-items: center;
    gap: 12px;
    padding: 6px;
    justify-content: flex-start;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: hsla(0, 0%, 100%, 0.6);

    &:hover {
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 8px;
        color: white;
    }
}
.drop_block {
    opacity: 0;
    //transition: all 0.3s;
    height: 0;
}
.country {
    width: max-content;
}
