.info_container{
    flex-direction: column;
}
.info_cover_wrapper{
    justify-content: center;
}
.info_cover {
    width: 241px;
    height: 192px;
    object-fit: contain;

    @media (min-width:1024px) {
        width: 390px;
        height: 276px;
    }
}
.info_text_wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    gap: 16px;

    @media (min-width:1024px) {
        padding-top: 8px;
    }
}
.info_title{
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.info_text{
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.info_btn_text{
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.info_link_wrapper{
    justify-content: center;
}
.info_wrapper_btn{
    padding-top: 36px;
}
