html {
  scroll-behavior: smooth;
}

body {
  font-family: theme(fontFamily.body);
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
  background-color: theme(colors.layout.DEFAULT);
  color: theme(colors.typography.text);
}

pre {
  border-radius: 0.25rem;
  overflow: scroll;
  padding: 0.5rem 0.75rem;
}

svg {
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme(colors.typography.title);
}

p,
span,
strong,
em,
u,
s,
del,
ins,
sub,
sup,
abbr,
q,
blockquote,
cite,
code,
pre,
var,
kbd,
samp,
mark,
small,
big,
time,
dfn,
address,
bdo {
  color: theme(colors.typography.text);
}
