.p_text{
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    font-size: 3.7333333333vmin;
    line-height: 4.8vmin;
    letter-spacing: -.02em;
    color: rgba(255,255,255,.6);
    background-color: transparent;
    justify-content: flex-start;

    @media (min-width:1025px) {
        font-size: 14px;
        line-height: 18px;
    }
}
.terms_h{
  padding: 20px 0;
}
.terms_link{
    width: auto;
    background-color: transparent;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.02em;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    display: inline-block;
    padding-bottom: 20px;
}
.terms_link:hover{
    text-decoration: none;
    color: #fff;
}
.wrapper_text_content{
    flex-direction: column;
}
.app_h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 36px;
}
.terms_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.6);
}
.p_padding{
    padding-bottom: 20px;
}
