.container {
    flex-direction: column;
    //padding-bottom: 24px;
}
.h2 {
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 97px;
        height: 97px;
        background-image: url('../../img/icon_crown.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: -47px;
    }
}
.modal_text {
    background: transparent;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    font-weight: 500;
    //line-height: 24px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}
.bonus_value {
    flex-direction: row;
    width: auto;
    gap: 4px;
    align-items: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
}
.crown_wrapper {
    width: 16px;
}
.title {
    color: var(--white-04-white, rgba(255, 255, 255, 0.4));
    font-size: 16px;
    font-weight: 500;
    padding: 40px 24px 16px;
}
.swiper_wrapper {
    padding-left: 24px;
    padding-right: 24px;
}
.swiper3 {
    padding-bottom: 30px;
    user-select: none;
}
.swiper-slide {
    height: auto !important;
    width: 231px !important;
    background: var(--white-005-white, rgba(255, 255, 255, 0.05));
    border-radius: 8px;
    margin-bottom: 24px;
    min-height: 265px;
}
.swiper-slide_card {
    width: 231px;
    padding: 12px 16px 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    background: transparent;
    margin-bottom: 4px;
}
.header_status_card {
    background: linear-gradient(330deg, #987047 -8.54%, #bc8142 131.33%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: auto;
}
.widget_status {
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: auto;

    border-radius: 100px;
    background: var(--white-01-white, rgba(255, 255, 255, 0.1));
}
.widget_icon {
    width: 12px;
    background: transparent;
}
.widget_text {
    background: transparent;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
}
.header_card {
    gap: 8px;
    //position: relative;
}
.medal_wrapper {
    position: absolute;
    right: 0;
    width: auto;
    top: 0;
}
.options_wrapper {
    gap: 16px;
    flex-direction: column;
}
.options_title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}
.options_text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: var(--white-04-white, rgba(255, 255, 255, 0.4));
}
.text_wrapper {
    gap: 4px;
    flex-direction: column;
}
.options_section {
    flex-direction: column;
    gap: 8px;
}
.silver {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    background: linear-gradient(242deg, #fff 22.69%, #a4a4a4 73.21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gold {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    background: linear-gradient(233deg, #ba8d43 2.77%, #eac681 84.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inform {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    background: linear-gradient(233deg, #ba7543 43.06%, #eac681 84.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    background: linear-gradient(226deg, #620995 14.98%, #ab60d8 67.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icon {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

    background: linear-gradient(138deg, #fff 33.42%, #d8af60 79.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
