.App {
    display: flex;
    flex-direction: column;
    padding: 16px;
    z-index: 1;
    width: 100vw;
    max-width: 1440px;
    padding-top: 72px;
    padding-bottom: 0;
    //padding-top: 23vmin;
    min-height: 100%;
    justify-content: space-between;
    //overflow: hidden;
    position: relative;

    &__title {
        margin-top: 64px;
        font-family: 'BebasNeue';
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 148px;
    }
    @media (min-width: 1025px) {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 154px;
    }
}
.App h1 {
    flex-direction: column;
    background-color: transparent;
    align-items: center;

    @media (min-width: 1025px) {
        //padding-bottom: 51px;
        align-items: flex-start;
    }
}
// .app__burgerwrapper{
//   //width: fit-content;
//   height: 100%;
//   background-color: gold;
//   position: absolute;
//   width: 375px;
//   top: 0;
//   //right: -580px;
//   right: 0;
//   transform: translate(-580px);
//   border: 2px solid red;
//   transition: all;
//   z-index: 10;

//   @media (min-width:1025px) {
//     width: 580px;
//   }
// }
// .show_container{
//   transform: translate(0);
//   transition: all .5s;
//   //right: 0;
// }
.app__burgerwrapper {
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    right: -100%;
    //transition: all .4s;
    transition: all 0.3s ease;
    top: 0;
    z-index: 10;
    background: rgba(18, 20, 42, 0.8);
    backdrop-filter: blur(24px);

    @media (min-width: 1025px) {
        width: 455px;
    }
}
.show_container {
    //right: 0;
    transform: translateX(-100%);

    @media (min-width: 1025px) {
        transform: translateX(-100vw);
    }
}
.app_container_content {
    position: relative;
    background-color: transparent;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 1025px) {
        flex-direction: row;
    }

    @media (min-width: 1440px) {
        //padding-left: 8.5%;
        max-width: 1440px;
    }
}
.showError {
    border: 1px solid red;
    border-radius: 4px;

    z-index: 9999;
    color: white;
    font-family: 'BebasRu';
    font-weight: 600;
    font-size: 36px;
    padding: 12px;
    transition: all 0.5s;
    width: fit-content;
}

.login_message {
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 16px;
    //background: rgba(66, 133, 244, 0.2);
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(24px);
    border-radius: 12px;
    top: -100%;
}
.hide_message {
    display: none;
    transition: all 0.7s;
    opacity: 0;
    width: 0;
    z-index: -2;
    right: -100%;
}
.show_message {
    width: auto;
    top: 25px;
    left: 16px;
    right: 16px;
    opacity: 1;
    z-index: 2;
    transition: all 0.5s;
}
.info_pic {
    width: 20px;
    background-color: transparent;
}
.close_btn {
    width: auto;
    border: none;
    padding: 0;
    background-color: transparent;
}
.close_btn_pic {
    background-color: transparent;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
}
.reload_btn {
    background: var(--white-01-white, rgba(255, 255, 255, 0.1));
    border-radius: 12px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 12px 24px;
    gap: 8px;
    height: auto;
    margin-left: 50px;
}
.container_btn {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    width: auto;
}

.app__burger_bckgr {
    position: absolute;
    //background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background: rgba(18, 20, 42, 0.8);
    backdrop-filter: blur(16px);
}
.app_h1 {
    padding: 30px 0;
}
.app_main {
    flex-direction: column;
    @media (min-width: 1025px) {
        //max-width: 58%;
    }
    @media (min-width: 1440px) {
        //max-width: 50%;
        align-items: flex-start;
    }
}
.button_to_order {
    margin-top: 14.9333333333vmin;
    max-height: 14.4vmin;
    flex: 1 0 87.2vmin;
    border-radius: 2px;
    padding: 4vmin 1.3333333333vmin;
    font-size: 6.4vmin;
    line-height: 6.4vmin;
    text-align: center;
    color: #fff;
    background-color: #eab11f;
    border: none;
    user-select: none;

    @media (min-width: 1025px) {
        margin-top: 56px;
        width: 312px;
        flex: none;
        padding: 14px 5px;
        min-width: 47%;
        font-size: 36px;
        line-height: 36px;
    }
}
.app_profile_ava {
    position: relative;
    min-width: 12.8vmin;
    min-height: 12.8vmin;
    font-size: 6.4vmin;
    width: auto;
    width: 76px;
    height: 76px;
    //overflow: hidden;

    background: #494aa7;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    @media (min-width: 1025px) {
        width: 72px;
        height: 72px;
        min-width: 72px;
        min-height: 72px;
        font-size: 36px;
        line-height: 43px;
    }
}
.img_profile {
    border-radius: 16px;
}
.app_profile_char {
    width: auto;
    line-height: initial;
}
.logout_btn {
    width: 224px;
    height: 48px;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    white-space: nowrap;
}
.logout_btn:hover {
    background: #12142bcf;
}
.logout_icon {
    height: 24px;
}
.app_profile_btn_ava {
    position: absolute;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    background-image: url('/img/change_avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    border: none;

    @media (min-width: 1025px) {
        right: -8px;
        bottom: -8px;
        padding: 0 5px;
        width: 24px;
        height: 24px;
    }
}
.app_profile_fileinput {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
.app_profile_wrapper {
    gap: 16px;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1025px) {
        width: 564px;
        padding: 80px 0;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        height: 344px;
        position: sticky;
        top: 300px;
    }
    @media (min-width: 1440px) {
        min-width: 564px;
    }
}
.app_profile_h1 {
    //font-size: 6.4vmin;
    //line-height: 6.4vmin;
    //padding-left: 3.2vmin;
    padding-bottom: 0 !important;
    width: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @media (min-width: 1025px) {
        margin-top: 0;
        //font-size: 48px;
        //line-height: 48px;
    }
}
.faq_main {
    //padding-top: 14.6666666667vmin;

    @media (min-width: 1025px) {
        padding-left: 12px;
        //padding-top: 90px;
    }
}
.app_contact_main {
    max-width: initial;
}
.app_h1 {
    padding: 30px 0;
    font-size: 10.8vmin;
    line-height: 10.8vmin;
    background-color: transparent;
    justify-content: flex-start;
    font-weight: 400;

    @media (min-width: 1025px) {
        font-size: 72px;
        line-height: 72px;
    }
}
.app_payment_h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 36px;
}
.faq_h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 36px;
}
.terms_text {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 3.7333333333vmin;
    line-height: 4.8vmin;
    letter-spacing: -0.02em;
    color: hsla(0, 0%, 100%, 0.8);
    background-color: transparent;

    @media (min-width: 1025px) {
        font-size: 14px;
        line-height: 18px;
    }
}
.buy_btn {
    justify-content: center;
    align-items: center;
    //padding: 20px 64px;
    gap: 8px;
    //width: 343px;
    //height: 64px;
    //background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
    //border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    height: 100%;

    @media (min-width: 1025px) {
        min-width: 284px;
        width: 260px;
        height: 100%;
        //height: 64px;
    }
}
// .buy_btn:hover{
//   background: linear-gradient(265.73deg, #BC56FF 0%, #7788F8 100%);
//   box-shadow: 0px 8px 80px rgb(137 81 242 / 40%);
// }
.calc_btn {
    position: relative;
    background: #12142b;
    padding: 16px 60px;
}
.calc_btn:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 12px;
    background: linear-gradient(265.73deg, #a82df9 0%, #6678e9 100%);
}
.calc_icon {
    width: 16px;

    @media (min-width: 1025px) {
        width: 16px;
    }
}
.wrapper_btns {
    padding: 28px 0 8px;
    gap: 16px;
    flex-direction: column;

    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
        padding: 52px 0 24px;
    }

    @media (min-width: 1025px) {
        flex-direction: row;
        //padding-top: 0;
        padding: 0;
    }
}
.wrapper_desk_btns {
    flex-direction: column;

    @media (min-width: 1025px) {
        flex-direction: row;
        padding-top: 52px;
        padding-bottom: 28px;
    }
}
.method_info {
    color: inherit;
    width: auto;
    gap: 12px;

    @media (min-width: 1025px) {
        text-align: center;
    }
}
.method_info img {
    background-color: transparent;
    width: 20px;
}

.method_info:hover .info_text {
    color: white;
    transition: all 0.3s linear;
}
.info_method {
    margin: 8px auto 8px;
    color: hsla(0, 0%, 100%, 0.5);
    justify-content: center;
    background-color: transparent;

    @media (min-width: 1025px) {
        margin: 0 16px;
    }
}
.info_method_title {
    margin-left: auto;
    color: hsla(0, 0%, 100%, 0.5);
}
.mainorder_option_btn:hover .info_method_title {
    color: white;
    transition: all 0.3s linear;
}
.hide {
    display: none;
}
.info_text {
    color: inherit;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    white-space: nowrap;
    text-transform: capitalize;
    //padding: 0 8px;
    @media (max-width: 1024px) {
        // font-size: 3.2vmin;
        // line-height: 4vmin;
        font-size: 16px;
        line-height: 20px;
    }
}
.info_text:hover {
    color: rgb(255, 255, 255);
}
.scroll_wrapper {
    background-color: transparent;
    width: 0;
    position: fixed;
    bottom: 144px;
    right: 20px;
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
}
.cookie_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 2;
    justify-content: center;
    //width: 375px;

    @media (min-width: 1025px) {
        //padding: 32px 0 32px 32px;
        //width: 375px;
    }
}
.cookie_wrapper[dir='rtl'] {
    @media (min-width: 1025px) {
        padding: 32px 32px 32px 0;
    }
}
.modal_calc_wrapper {
    position: relative;
    display: none;
    //top: 12px;
    //left: 0;
    //right: 0;
    //bottom: 0;
    width: auto;
    background: rgba(27, 29, 51, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(22px);
    border-radius: 28px 28px 0px 0px;
    z-index: 3;
    //padding:16px;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 1025px) {
        //position: fixed;
        width: 672px;
        //height: 752px;
        //left: calc(50% - 672px/2);
        //top: 121px;
        background: #2b2d43;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 28px;
    }
}
.modal_funnel_calc_wrapper {
    position: relative;
    display: none;
    width: auto;
    background: #2b2d43;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(22px);
    border-radius: 28px 28px 0px 0px;
    z-index: 3;
    flex-direction: column;
    overflow: hidden;
    max-height: 900px;

    @media (min-width: 1025px) {
        width: 672px;
        //height: 752px;
        background: #2b2d43;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 28px;
    }
}
.modal_iframe_wrapper {
    position: relative;
    width: auto;
    background: #2b2d43;
    border: 1px solid rgba(255, 255, 255, 0.2);
    //backdrop-filter: blur(22px);
    border-radius: 28px 28px 0px 0px;
    z-index: 3;
    flex-direction: column;
    overflow: hidden;
    max-height: 900px;
    width: 100vw;
    max-width: 757px;
    height: 100%;

    @media (min-width: 1025px) {
        //width: 672px;
        border-radius: 28px;
        width: 757px;
        height: 600px;
    }
}
.modal_funnel_method_wrapper {
    position: relative;
    display: none;
    width: auto;
    background: #2b2d43;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(22px);
    border-radius: 28px 28px 0px 0px;
    z-index: 3;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    width: 375px;

    @media (min-width: 1025px) {
        width: 672px;
        //height: 752px;
        background: #2b2d43;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 28px;
    }
}
.tableorder_iframe {
    height: 100%;
    border: none;
}
.modal_calc_funnel_video {
    width: 1024px;
}
.blur {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 20, 42, 0.8);
    backdrop-filter: blur(22px);
    z-index: 2;
}
.shadow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //background: rgba(18, 20, 42, 0.8);
    //backdrop-filter: blur(22px);
    z-index: 2;
}

.modal_calc_true {
    display: flex;
}
.modal_calc_false {
    display: none;
}

.btn_close_wrapper {
    background: transparent;
    padding: 16px;
    justify-content: flex-end;
}
.modal_calc_btn_close {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    background-image: url('/img/whitecross.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    align-self: flex-end;
}
.modal_calc_btn_close:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.buy_btn_wrapper {
    margin-top: auto;
    padding: 16px;
    padding-bottom: 32px;
    justify-content: center;

    @media (min-width: 1025px) {
        justify-content: center;
    }
}
// .custom_style::after{
//   display: none;
//   content: '';

//   position: absolute;
//   width: 670px;
//   height: 506px;
//   z-index: -2;

//   @media (min-width:1025px) {
//     display: block;
//     right: 0;
//     background-image: url('../img/No_coins/Hero_image_desktop.webp');
//     background-size: 729px;
//     background-repeat: no-repeat;
//     width: 722px;
//     top: 143px;
//   }
// }
// .custom_style[dir='rtl']::after{
//   @media (min-width:1025px) {
//     display: block;
//     right: auto;
//     left: 0;
//     background-image: url('../img/No_coins/Hero_image_desktop.webp');
//     background-size: 729px;
//     background-repeat: no-repeat;
//     width: 722px;
//     top: 143px;
//     transform: scale(-1,1);
//   }
// }
.custom_bckgr::after {
    display: none;
    content: '';

    position: absolute;
    width: 670px;
    height: 506px;
    z-index: -2;

    @media (min-width: 1025px) {
        display: block;
        right: 0;
        background-image: url('../img/Subtract.png');
        //background-size: 729px;
        background-repeat: no-repeat;
        // width: 722px;
        // top: 143px;
        // position: absolute;
        width: 460px;
        height: 455px;
        left: 198px;
        top: 109px;
    }
}
.custom_bckgr_profile::after {
    display: none;
    content: '';

    position: absolute;
    width: 670px;
    height: 506px;
    z-index: -2;
}
.wrapper_desk {
    flex-direction: column;

    @media (min-width: 1025px) {
        width: 820px;
        padding-bottom: 120px;
    }
}
.offer_wrapper {
    flex-direction: column;
    gap: 16px;

    @media (min-width: 1025px) {
        flex-direction: row;
        justify-content: flex-end;
    }
}
.row_768 {
    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
    }
}
.padding_wrapper {
    padding-top: 16px;
    @media (min-width: 768px) and (max-width: 1023px) {
        padding-top: 60px;
    }
}
.h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    background: inherit;
    padding-bottom: 8px;
}
.app_column {
    flex-direction: column;
}
.calc_page {
    position: fixed;
    overflow: auto;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 16px 0 0;
    height: 100dvh;
    //z-index: -2;
    top: 0;
    background-color: transparent;
    //max-width: 1440px;

    @media (min-width: 1025px) {
        &::-webkit-scrollbar {
            width: 4px;
            transition: opacity 0.5s ease-out;
            border: none;
        }
        &::-webkit-scrollbar-thumb {
            border: 4px solid rgba(255, 255, 255, 0.4);
            transition: opacity 0.5s ease-out;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    @media (min-width: 1439px) {
        display: flex;
        align-items: center;
    }
}
.order_h {
    display: block;
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
    padding: 16px 0;

    @media (min-width: 1025px) {
        font-size: 36px;
        padding: 24px 0;
    }
}
.container {
    flex-direction: column;
}
.wrapper {
    flex-direction: column;
}
.item {
    border: 1px solid greenyellow;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.sticky {
    position: sticky;
    top: 0;
}
.calc_funnel_page {
    //align-items: center;
    align-items: flex-end;
    padding-bottom: 0;

    @media (min-width: 1025px) {
        //align-items: flex-start;
        align-items: center;
        padding-bottom: 16px;
    }
}
.method_funnel_page {
    align-items: flex-end;
    padding-bottom: 0;
    right: -100%;
    transition: all 0.5s ease-in-out;

    @media (min-width: 1025px) {
        align-items: center;
        //align-items: flex-start;
        padding-bottom: 16px;
    }
}
.method_changer_wrapper {
    padding: 0 16px;
    flex-direction: column;
    overflow: auto;
    height: 434px;
}
.show_modal {
    transform: translateX(-100%);
}
.translate100 {
    transform: translate(100%);
}
.toVideoModal {
    border: none;
}
.title_text {
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
}
.wrapper_attention {
    flex-direction: column;
    padding: 0 16px;
}
.attention_h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
.attention_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    //text-transform: capitalize;
}
.disabled {
    opacity: 0.4;
    user-select: none;
}
.password_modal {
    width: 100%;
    height: auto;
    max-width: 644px;
}
.profile_main {
    @media (min-width: 1025px) {
        flex-direction: row;
        gap: 16px;
        justify-content: initial;
        align-items: initial;
        min-height: 457px;
    }
}
.privacy_h {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 36px;
}
.terms_main {
    margin-top: 16px;
}
.seo_text_wrapper {
    flex-direction: column;
    padding-top: 20px;
    gap: 16px;
    background-color: transparent;
}
.seo_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.h_coins {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-top: 16px;

    @media (min-width: 1025px) {
        font-weight: 700;
        font-size: 44px;
        line-height: 63px;
    }
}
.aside_wrapper {
    padding-top: 16px;
}
.desk_h_wrapper {
    align-items: center;
    max-width: 1028px;
}
.changer_container {
    padding-top: 24px;

    @media (min-width: 1025px) {
        padding-top: 28px;
        gap: 16px;
    }
}
.changer_wrapper {
    flex-direction: column;
    justify-content: space-between;
}
.method_wrapper {
    //padding-top: 40px;
}
.cards_wrapper {
    padding-top: 58px;

    @media (min-width: 1025px) {
        padding-top: 100px;
    }
}
.delivery_h {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 36px;
}
.login_message_content {
    background-color: transparent;
    gap: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    /* or 19px */

    letter-spacing: -0.02em;

    color: #ffffff;
    //text-align: center;
}
.text_buy {
    width: auto;
    text-transform: capitalize;
}
.btn_modal_purchase {
    background: linear-gradient(265.73deg, #a82df9 0%, #6678e9 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    height: 64px;
    //padding: 20px;

    &:hover {
        background: linear-gradient(265.73deg, #bc56ff 0%, #7788f8 100%);
        box-shadow: 0px 8px 80px rgb(137 81 242 / 40%);
    }
}
.demo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.demo_block {
    width: auto;
    border: 1px solid var(--white-02-white, rgba(255, 255, 255, 0.2));
    border-radius: 28px;
    background: var(--black-shape, #2b2d43);
    overflow: hidden;
    flex-direction: column;
    max-width: 690px;
    justify-content: center;
    align-items: center;
}
.text_content {
    padding: 16px 32px 32px;
    flex-direction: column;
    gap: 12px;

    @media (min-width: 1025px) {
        padding: 24px 52px 52px;
        gap: 16px;
    }
}
.boost_h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;

    @media (min-width: 1025px) {
        font-size: 28px;
    }
}
.boost_description {
    color: var(--white-04-white, rgba(255, 255, 255, 0.4));
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;

    @media (min-width: 1025px) {
        padding-top: 4px;
        padding-bottom: 20px;
        font-size: 16px;
    }
}
.wrapper_social {
    flex-direction: column;
    gap: 12px;

    @media (min-width: 1025px) {
        gap: 20px;
    }
}
.wrapper_icons {
    gap: 16px;
    justify-content: center;
    @media (min-width: 1025px) {
        gap: 12px;
    }
}
.title_social {
    justify-content: center;
    color: var(--white-06-white, rgba(255, 255, 255, 0.6));
    text-align: center;
    /* Headings desktop/20 semibold */
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

    @media (min-width: 1025px) {
        font-size: 20px;
    }
}
.social_link {
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--white-005-white, rgba(255, 255, 255, 0.05));
    width: 60px;
    height: 60px;
    padding: 12.5px;

    @media (min-width: 1024px) {
        width: 76px;
        height: 76px;
        padding: 16px;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
.wrapper_img {
    @media (min-width: 1025px) {
        padding-left: 36px;
    }
}
.calc_drop_icon {
    width: 72px;
    height: 32px;
}
.h2_cook {
    padding-top: 12px;

    @media (min-width: 1025px) {
        padding-top: 24px;
    }
}
.h3_cook {
    padding-top: 6px;

    @media (min-width: 1025px) {
        padding-top: 12px;
    }
}
.p_cook {
    color: rgba(255, 255, 255, 0.6);
    display: initial;
}
.cook_ol > li {
    color: rgba(255, 255, 255, 0.6);
}
.mail {
    display: initial;
    text-decoration: underline;
}
.buy_btn_width {
    @media (min-width: 1025px) {
        max-width: 284px;
    }
}
.page_without_bread {
    @media (min-width: 1025px) {
        padding-top: 100px;
    }
}
.fees_wrapper {
    gap: 2px;
    justify-content: center;

    @media (min-width: 1025px) {
        gap: 4px;
        width: auto;
    }
}
.arrow_spiral_wrapper {
    width: 50px;
}
.fees_img_wrapper {
    width: 100px;
    height: 58px;
    background-image: url('../img/Ellipsefee.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.reverse_arrow_spiral_wrapper {
    width: auto;
}
.info_numbers_wrapper {
    padding-top: 48px;
    padding-bottom: 56px;

    @media (min-width: 1025px) {
        padding-bottom: 100px;
        padding-top: 0;
    }
}
.cases_wrapper {
    padding-top: 0;
    flex-direction: column;
}
.reviews_wrapper {
    padding-top: 0;
    flex-direction: column;
}
.carusel_h2 {
    padding-bottom: 12px;
    font-size: 28px;

    @media (min-width: 1025px) {
        font-size: 36px;
        padding-bottom: 24px;
    }
}
.wrapper_buy_btn {
    justify-content: center;
    padding-top: 36px;
}
.coins_modal_h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    padding: 0 16px;

    @media (min-width: 1025px) {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }
}
.coins_changer_wrapper {
    padding: 24px 16px;
}
.background_modal {
    background: var(--Black-Shape, #2b2d43);
}
.coins_price_wrapper {
    padding: 16px 16px 12px;
}
.padding_top_100 {
    padding-top: 70px;

    @media (min-width: 1025px) {
        padding-top: 100px;
    }
}
.no_overflow {
    overflow: initial;
    padding-bottom: 36px;
    width: 100%;
    max-height: 100vh;

    @media (min-width: 1025px) {
        width: 447px;
    }
}
.wrapper_with_h1 {
    flex-direction: column;
}
.profile_h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 1025px) {
        font-size: 52px;
    }
}
.custom_height {
    @media (max-width: 765px) {
        height: 90%;
        overflow-y: auto;
    }
}
