.footer{
    //border-top: 1px solid hsla(0,0%,76.9%,.2);
    margin-top: 32px;
    background-color: transparent;
    
    
    position: relative;
    //background: #1B1D33;

    @media (min-width:1025px) {
        justify-content: flex-start;
        //padding: 100px 0 40px;
    }
}

.wrapper_paddings{
    padding: 50px 0 23px;
    background-color: transparent;
    flex-direction: column;
    gap: 40px;
    @media (min-width:1025px) {
        padding: 100px 0 40px;
        gap: 20px;
    }
}

.footer_header{
    
    padding-bottom: 12px;
    justify-content: flex-start;
    text-transform: lowercase;
    display: block;

    color: var(--white-10-white, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer_header::first-letter{
    text-transform: uppercase;
}
.footer_firstcolumn{
    flex-direction: column;
    height: auto;
}
.footer_secondcolumn{
    flex-direction: column;
    gap: 32px;

    @media (min-width:1025px) and (max-width:1150px) {
        gap: 32px;
    }
    @media (min-width:1151px) {
        gap:108px;
    }
}
.footer_thirdcolumn{
    flex-direction: column;
    height: auto;
}   
.footer_info_font{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;

    @media (min-width:1025px) {
        line-height: 20px;
        white-space: initial;
    }

}
.footer_info_font:hover{
    color: #FFFFFF;
}
.footer_infowrapper{
    flex-direction: column;
    gap: 8px;
}
.footer_info_item{
    //padding-bottom: 12px;
    justify-content: flex-start;
    background-color: transparent;

    @media (min-width:1025px) {
        //padding-bottom: 41px;
    }
}
.footer__mastercard{
    background-image: url('/img/mastercardgray.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__veryvisa{
    background-image: url('/img/verivisagray.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__visa{
    background-image: url('/img/visa.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__master{
    background-image: url('/img/master.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__apple{
    background-image: url('/img/applepay-grey.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer__svg_wrapper{
    justify-content: flex-start;
    min-height: 20px;
    gap: 8px;
    
    @media (min-width:1025px) {
        align-self: flex-end;
        width: 42%;
    }
}
.footer_svg{
    justify-content: flex-start;
    min-height: 25px;
    background-position: center;
    max-width: 80px;
}
.footer__googlePay{
    background-image: url('/img/google_pay_gray.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 52px;
    min-height: 27px;
}
.footer_flexstart{
    justify-content: flex-start;
}
.footer_center_wrapper{
    width: 100%;
    flex-direction: column;

}
.footer_platform_item{
    height: auto;
}

.royalfut{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.4);
    //text-transform: lowercase;
    display: block;
    text-align: center;

    @media (min-width:1025px) {
        text-align: left;
    }
}
.royalfut::first-letter{
    text-transform: uppercase;
}
.wrapper_contacts{
    flex-direction: column;
    gap: 24px;
}
.mess_wrapper{
    gap: 8px;
    flex-direction: row;
}
.social_wrapper{
    gap: 8px;
}
.mess_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    background: var(--white-01-white, rgba(255, 255, 255, 0.10));
    justify-content: center;
    
    &:hover{
        opacity: 0.8;
        transition: all .3s;
    }
}

.mail_icon{
    width: 24px;
}
.mail_row_wrapper{
    gap: 8px;
}
.mail{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    width: auto;
    align-items: center;
}
.footer_bckgr{
    position: absolute;
    //left: -16px;
    width: 100vw;
    //right: 0;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.2);
    background: #1B1D33;
    border-top: 1px solid rgba(196, 196, 196, 0.2);
    
    z-index: -1;

    left: 50%;
    transform: translate(-50%,0);
}

.link_hover:hover{
    opacity: 0.8;
}
.disabled{
    pointer-events: none;
    opacity: 0.4;
  }

@media(min-width:1025px){
  
  .footer_firstcolumn{
    max-width: 340px;
  }
  .footer_secondcolumn{
    align-items: center;
    flex-direction: column;
    width: auto;

    @media (min-width:1025px) {
        flex-direction: row;
        align-items: flex-start;
    }
  }
  .footer_thirdcolumn{
    max-width: 340px;
  }
  .footer__svg_wrapper{
  }
  .footer_header{
    font-size: 24px;
  }
  .footer_center_wrapper{
    width: auto;
    min-width: 125px;
  }
}
.contact_icons{
    flex-direction: column;
    gap: 32px;
}
.mess_icon{width: auto;}
.footer_icons_container{
    gap: 40px;
    flex-direction: column;

    @media (min-width:1025px) {
        gap: 96px;
        flex-direction: row-reverse;
        align-items: flex-end;

    }
}
.columns_wrapper{
    flex-direction: column-reverse;
    gap: 32px;

    @media (min-width:1025px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.width_42{
    width: 42%;
}