.violet_block {
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    border-radius: 100px;
    background: var(
        --Primary-Purple-gradient,
        linear-gradient(266deg, #a82df9 0%, #6678e9 100%)
    );
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: fit-content;
    border: 1px solid transparent;
}
.icon_wrapper {
    min-width: 16px;
}
.bordered_block {
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 2px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    border: 1px solid var(--Primary-Purple-gradient, #a82df9);
    height: fit-content;
}
