.container{
    flex-direction: row;
    gap: 16px;
    padding-top: 18px;
}
.row{
    flex-direction: column;
    gap: 18px;
    //width: auto;
    align-items: center;
}
.pic{
    height: 24px;
    width: auto;
}
.green_color{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #15BC26;
    //white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}
.gray_color{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    //white-space: nowrap;
    text-align: center;
    justify-content: center;
}