.container{
    flex-direction: column;
    align-self: center;
    //width: 375px;
    @media (min-width:1025px) {
        width: 375px;
        background-color: transparent;
    }
}
.img_wrapper{
    justify-content: center;
}
.pic{
    width: 241px;

    @media (min-width:1025px) {
        width: 344px;
        height: 274px;
    }
}
.title_wrapper{
    padding-top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;
}
.text_wrapper{
    padding-top: 16px;
}
.title {
    text-align: center;
    justify-content: center;
}
.text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    justify-content: center;
}
.btn_wrapper{
    padding-top: 36px;
    padding-left: 36px;
    padding-right: 36px;
}
.btn{
    background: linear-gradient(265.73deg, #A82DF9 0%, #6678E9 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding: 20px;
}
.time_wrapper{
    padding-top: 16px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.time_message{
    display: initial;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.time{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: initial;
    text-align: center;
}