.sticky_block {
    position: sticky;
    bottom: 0;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--black-shape, #2b2d43);
    flex-direction: column;
    gap: 12px;

    @media (min-width: 1025px) {
        position: relative;
        flex-direction: column;
        padding: 8px 12px;
        max-width: 266px;
    }
}
.wrapper_btn {
    justify-content: center;
    margin-top: 12px;
    @media (min-width: 1025px) {
        width: auto;
    }
}
.arrow_wrapper {
    width: auto;
}
.btn_text {
    width: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn_text_wrapper {
    justify-content: center;
    align-items: center;
}
.price_values {
    gap: 24px;

    @media (min-width: 1025px) {
        flex-wrap: wrap;
    }
}
.discount {
    width: auto;
}
.price_all {
    flex-direction: column;
    width: auto;
    align-self: flex-start;
    padding-top: 12px;
}
.price_all_title {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.prices_wrapper {
    gap: 4px;
    flex-direction: column;

    @media (min-width: 1025px) {
        flex-wrap: wrap;
    }
}
.price_actual {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: auto;
    white-space: nowrap;
    gap: 8px;

    @media (min-width: 1025px) {
        font-size: 20px;
    }
}
.price_not_actual {
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: line-through;
    align-items: center;
    width: auto;
}
.dd_wrapper {
    width: auto;
    background-color: transparent;
    //padding-left: 12px;

    @media (min-width: 1025px) {
        padding-left: 0;
    }
}
.toggle_row {
    flex-direction: column;
}
.margin_top {
    @media (min-width: 1025px) {
        margin-top: 24px;
    }
}
.wrapper_coupon {
    padding: 12px 0;
}
.hidden_form {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 0;
}
